In [30]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("/Users/kellykindla/Desktop/Module6/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Sao Filipe,CV,76.53,overcast clouds,14.8961,-24.4956,Hotel Xaguate
1,5,Atuona,PF,77.70,light rain,-9.8000,-139.0333,Villa Enata
2,6,Saldanha,ZA,64.33,clear sky,-33.0117,17.9442,Blue Bay Lodge
3,8,Kapaa,US,74.23,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,9,Cape Town,ZA,65.73,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,dissipating=False,
             max_intensity=300, point_radius=4)

#create markers for each hotel- include info_box_content for heach marker 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [63]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities.
#4 cities= Yulara, Australia, Broken Hill, Australia, Port Augusta, Australia, and Esperance, Australia 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Yulara")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Yulara")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Broken Hill")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Port Augusta")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Esperance")]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
126,374,Yulara,AU,73.06,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort

In [59]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#list(map(tuple, df.to_numpy()))
start = (list(map(tuple, vacation_start[["Lat", "Lng"]].to_numpy())))[0]
end = (list(map(tuple, vacation_end[["Lat", "Lng"]].to_numpy())))[0]
stop1 = (list(map(tuple, vacation_stop1[["Lat", "Lng"]].to_numpy())))[0]
stop2 = (list(map(tuple, vacation_stop2[["Lat", "Lng"]].to_numpy())))[0]
stop3 = (list(map(tuple, vacation_stop3[["Lat", "Lng"]].to_numpy())))[0]
stop3

(-33.8667, 121.9)

In [62]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
australia_route = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(australia_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1,vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,374,Yulara,AU,73.06,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
1,237,Broken Hill,AU,68.72,clear sky,-31.9500,141.4333,Royal Exchange Hotel
2,466,Port Augusta,AU,71.35,clear sky,-32.5000,137.7667,Majestic Oasis Apartments
3,188,Esperance,AU,60.85,overcast clouds,-33.8667,121.9000,Hospitality Esperance

In [69]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info2 = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations2 = itinerary_df[["Lat", "Lng"]]

In [70]:
# 11a. Add a marker layer for each city to the map.
fig2 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer2 = gmaps.heatmap_layer(locations2,dissipating=False,
             max_intensity=300, point_radius=4)

#create markers for each hotel- include info_box_content for heach marker 
marker_layer2 = gmaps.marker_layer(locations2, info_box_content=hotel_info2)
fig2.add_layer(heat_layer2)
fig2.add_layer(marker_layer2)

# 11b. Display the figure
fig2

Figure(layout=FigureLayout(height='420px'))